.menu {
    color: #ffccdd;
    font: bold 12px/18px sans-serif;
    text-align: center;
    display: inline;
    margin: 0% auto;
    padding: 0;
    list-style: none;
}

.menu li{
    color: white;
    background-color: black;
    display: inline-block;
    margin: 0% auto;
    position: relative;
    padding: 15px 4%;
    border: 1px solid white;
    box-shadow: 2px 2px 10px 0 rgba(232, 232, 236, 0.5);
    border-radius: 6px;
    cursor: pointer;
    transition-property: background;
    transition-duration: .4s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.menu li:hover {
    color: red;
    background-color: rgb(255, 255, 255);
}

